.popup__input {
  margin: 1px 36px 1px 36px;
  padding: 9px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 520px) {
  .popup__input {
    margin: 10px 22px 11px 22px;
  }
}