.popup__input-error {
  margin-left: 36px;
  color: red;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  visibility: hidden;
  position: relative;
  height: 20px;
}