.popup__input-name {
  margin: 8px 36px 0 36px;
  padding: 9px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 520px) {
  .popup__input-name {
    margin: 39px 22px 0 22px;
  }
}