.profile__edit-name {
  display: flex;
  align-items: baseline;
  margin-top: 22px;
}

@-moz-document url-prefix() {
  .profile__edit-name {
    align-items: center;
  }
}

@media screen and (max-width: 570px) {
  .profile__edit-name {
    justify-content: center;
    margin-top: 18px;
  }
}