.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 69px 0 55px 0;
}

@media screen and (max-width: 930px) {
  .footer {
    padding: 69px 19px 55px 19px;
  }
}

@media screen and (max-width: 570px) {
  .footer {
    padding: 48px 19px 33px 19px;
  }
}